body
{
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  font-color: #000000;
}
h1
{
  font-family: Roboto;
  font-style: normal;
  font-size: 55px;
  font-weight: bold;
  font-color: #000000;
}
h2
{
  font-family: Roboto;
  font-style: normal;
  font-size: 45px;
  font-weight: bold;
  font-color: #000000;
}
h3
{
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  font-color: #000000;
}
dd
{
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  font-color: #000000;
}
dt
{
  font-family: Roboto;
  font-style: normal;
  font-size: 45px;
  font-weight: bold;
  font-color: #000000;
}
 .footer-contacts,
 .info-content,
 .sidebar p
{
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  font-color: #000000;
}
.main-navigation,
.user-block,
.container a
{
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  font-color: #000000;
}
.container b
{
  font-family: Roboto;
  font-style: normal;
  font-size: 55px;
  font-weight: bold;
  font-color: #000000;
}
.features-item b
{
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  font-color: #000000;
}
.footer-social b
{
  font-family: Roboto;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  font-color: #000000;
}
